.nonHighlightable, .SocialContacts {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */ }

.text-color-white {
  color: white !important; }

.UserSearch .searchResults {
  position: absolute;
  top: 60px;
  right: 10px;
  z-index: 2; }

.UserSearch .userSearch-result {
  padding: 5px;
  cursor: pointer; }
  .UserSearch .userSearch-result button {
    margin-left: 5px; }
  .UserSearch .userSearch-result:hover {
    background-color: #ececec; }

.SocialContacts {
  border-left: 1px solid lightgray;
  z-index: 4;
  padding-top: 100px;
  background-color: #fdfdfd;
  width: 240px; }
  .SocialContacts h4 {
    cursor: pointer;
    margin-left: 15px; }
  .SocialContacts .uk-heading-line {
    padding-left: 10px;
    padding-right: 10px; }
  .SocialContacts .User {
    padding: 5px 10px;
    cursor: pointer; }
    .SocialContacts .User:hover {
      background-color: #ececec; }
    .SocialContacts .User .Avatar {
      margin-right: 5px; }
    .SocialContacts .User .avatarAndName {
      max-width: 92%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden; }
    .SocialContacts .User .isOnline {
      height: 8px;
      width: 8px;
      border-radius: 50%;
      background-color: gray; }
    .SocialContacts .User .online {
      background-color: #67f391; }

.Profile .ProfileContent {
  max-width: 1400px; }

.Profile .AboutMe {
  background-color: white; }

.Profile .profile-name {
  position: absolute;
  bottom: 55px;
  left: 280px; }

.Profile .ProfilePic img {
  cursor: pointer;
  border-radius: 5px;
  border: 3px solid white;
  height: 230px;
  width: 230px; }

.Profile .nav-btns {
  margin-left: 280px; }

.Profile .profile-nav-btn {
  display: flex;
  cursor: pointer;
  margin-right: 12px; }
  .Profile .profile-nav-btn a {
    margin-right: 4px; }
